.error-banner {
  width: 100%;
  background-color: #f44336; /* Red */
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  animation: slideDown 0.3s ease-out;
}

.error-message {
  display: flex;
  align-items: center;
  gap: 8px;
  color:rgb(233, 231, 231)
}

.error-close {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.2s ease;
}

.error-close:hover {
  color: #ffcccc;
}

/* Slide down animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
